<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人物表查询</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
</head>
<!--spring—boot-->
<script src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
<body>
<div>人物查询</div>
<form method="post" onsubmit="return false" action="##" id="show">
    <input type="text" name="bankCardNumber" th:value="${User!=null}">

</form>
<script>

    }
</script>
<button type="button" name="查询全部" onclick="" >查询全部</button>

</body>
</html>